.orderpage1 {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.divek{
    background-color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
.glowna{
    background-color: white;
}

.login-button1 {
    background-color: #4CAF50;
    color: white;
    width: 10%;
    cursor: pointer;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

.login-button1:hover {
    background-color: #45a049;
}


.wybor{
    margin-left: 500px;
    margin-right: 500px;
}
.branding-section h5 {
    font-style: italic;
    margin-top: -60px;
    margin-bottom: 100px;
}