.meal-plan {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2; /* Przykładowy kolor tła */
    color: black;
    margin-right: 100px;
    margin-left: 100px;
}

.meal {
    border: 1px solid #ccc; /* Przykładowa ramka */
    padding: 10px;
    margin: 10px;
    text-align: center;
    max-width: 400px;
    min-width: 200px;
}

.meal h3 {
    margin-top: 0;
}