.branding-section {
    text-align: center;
    margin: 2rem 0;
    color: black
}

.branding-logo {
    width: 200px; /* Dostosuj do swoich potrzeb */
    margin-bottom: 3rem;
}

.home-page-main {
    text-align: center;
    color: black
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}


.about-page {
    position: relative;
    min-height: 100vh; /* Zapewnia, że strona zajmuje minimalną pełną wysokość widoku */
    display: flex;
    flex-direction: column;
    background-color: white;
}

.branding-section p{
    max-width: 400px;
    text-align: center;
    margin: auto; /* Wyśrodkuj tekst w pionie */

}
.branding-section h1{
    margin-top: 10px;
}

/* Styl dla głównego kontenera */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12-kolumnowy układ */
    grid-gap: 20px; /* Odstępy między kolumnami */
    margin-left: 20px;
    margin-right: 100px;
}

/* Styl dla sekcji tekstowej */
.text-section {
    grid-column: span 4; /* Zajmuje 4 kolumny */
    color: black;
    margin-left: 10px;
}

/* Styl dla sekcji z obrazkiem */
.image-section {
    grid-column: span 2; /* Zajmuje 2 kolumny */
    width: 250px;
}

/* Styl dla obrazu, aby był responsywny */
.image-section img {
    width: 100%;
    height: auto;
    display: block; /* Zapobiega niechcianym marginesom wokół obrazów */

}