.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #4cae4c;
}
.mainsection {
    position: relative;
    min-height: 100vh; /* Zapewnia, że strona zajmuje minimalną pełną wysokość widoku */
    display: flex;
    flex-direction: column;
    background-color: white;
}
.konsultant {
    margin-left: 900px;
    width: 300px;
}